<div class="modal fade modalbox" data-app-target="modal" style="display:none;">
    <div data-controller="modal" class="modal-dialog" role="document">
        <%= turbo_frame_tag "modal-content-turboframe" do %>
            <%= render partial: "layouts/modal_blank" %>
        <% end %>
    </div>
</div>