<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Loading...</h5>
    <button type="button" data-action="modal#closeModal" class="btn-close"></button>
  </div>
  <div class="modal-body">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
</div>