<!-- Search Component -->
<div id="search" class="appHeader">
    <form class="search-form">
        <div class="form-group searchbox">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="input-icon">
                <ion-icon name="search-outline"><i class="bi bi-search"></i></ion-icon>
            </i>
            <a href="#" class="ms-1 close toggle-searchbox">
                <ion-icon name="close-circle"><i class="bi bi-x-circle"></i></ion-icon>
            </a>
        </div>
    </form>
</div>
<!-- * Search Component -->