<Layouts.creators
  breadcrumbs={[
    {@creator.name, ~p"/creators/#{@creator}"},
    {"Edit", ~p"/creators/#{@creator}/edit"}
  ]}
  {assigns}
>
  <.header>
    Edit Creator
  </.header>

  <.creator_form
    changeset={@changeset}
    action={~p"/creators/#{@creator}"}
    return_to={~p"/creators/#{@creator}"}
  />
</Layouts.creators>
