<Layouts.creators {assigns}>
  <.header>
    New Creator
    <:subtitle>Enter details for a new creator.</:subtitle>
  </.header>

  <.creator_form changeset={@changeset} action={~p"/creators"} />

  <.back navigate={~p"/creators"}>Back to creators</.back>
</Layouts.creators>
