<ul class="listview image-listview">
  <% @proxy_users.each do |pu| %>
    <li> 
      <%= button_to "/proxy_user_manager/activate_proxy/#{pu.id}", class: "item q-list-text" do %>
        <div class="in">
            <div>
                <%= pu.proxy_user.username %>
                <footer><%= number_to_phone(pu.proxy_user.mobile_number, area_code: true) %> : <%= pu.proxy_user.me_file.home_zip %> </footer>
            </div>
            <% if pu.active %>
              <span class="badge badge-primary">
                <i class="bi bi-check-lg"></i>
              </span>
            <% end %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
