<Layouts.creators
  breadcrumbs={[
    {@creator.name, ~p"/creators/#{@creator}"},
    {@catalog.name, ~p"/creators/#{@catalog}"},
    {"Edit", ~p"/creators/catalogs/#{@catalog}/edit"}
  ]}
  {assigns}
>
  <.header>
    Edit Catalog
  </.header>

  <.catalog_form
    changeset={@changeset}
    action={~p"/creators/catalogs/#{@catalog}"}
    return_to={~p"/creators/catalogs/#{@catalog}"}
  />
</Layouts.creators>
