<% Rails.logger.info "********* SHOW LEDGER DETAIL HTML ****************" %>
<%= turbo_frame_tag "offpanel-contents-turboframe" do %>
  <div class="d-flex flex-column" style="height:100vh">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title"><strong>Ledger Entry Detail</strong></h5>  
      <a class="close-btn" data-action="app#closePanelRight">
          <i class="bi bi-x"></i>
      </a>
    </div>
    <div class="offcanvas-body">
      <%= render partial: "ledger_detail" %>
    </div>
  </div>

<% end %>