<%# no spaces in innerText - don't divide lines - messes up pagination painter %>
<div id="completion_string" class="hidden" style="display:none"><%= @current_me_file.survey_question_completion_string(survey_id) %></div>