<div class="container mx-auto px-4 py-8">
  <div class="w-full mb-6">
    <button phx-click={toggle_sponster_sidebar(:on)}>
      <.icon name="hero-bars-3" class="h-8 w-8 text-gray-500" />
    </button>
  </div>
  {@inner_content}
</div>

<.sponster_sidebar {assigns} />

<.sponster_bottom_bar {assigns} />
