<%= turbo_frame_tag "sponster_adget" do %>
  <div class="row justify-content-center">
    <div class="col d-flex flex-column mt-4">

          <div class="d-flex justify-content-center">
            <div id="ydadget-sponster-ad-container">
              <%= render partial: 'ad_viewer/banner_text_adget' %>
            </div>
          </div>

    </div>        
  </div>
<% end %>