<%= turbo_frame_tag "app_window" do %>
  <div data-controller="app-page" data-app-target="appPage" data-app-page-app-page-value="ads">
    <%= render partial: "layouts/session_status_string" %>

    <div class="header-large-title">
        <h1 class="title">Ads</h1>
    </div>

    <div class="section" data-contoller="app" data-action="update-stats@window->app#update_mefile_stats">
      <%= render partial: "sponster_adget"%>
    </div>

    <!--clickable overlays-->
    <script> 
      function clickAndDisable(link) {
        // disable subsequent clicks
        link.onclick = function(event) {
            link.disabled = true
            event.preventDefault();
        }
      }   
    </script>
  </div>

<% end %>
