<.header>
  Edit Content {@content.id}
  <:subtitle>Use this form to edit content.</:subtitle>
</.header>

<.content_form changeset={@changeset} action={~p"/admin/content/#{@content}"} />

<.back navigate={~p"/admin/content"}>Back to content</.back>
