<.header>
  New Content
  <:subtitle>Use this form to create a new content item.</:subtitle>
</.header>

<.content_form changeset={@changeset} action={~p"/admin/content"} />

<.back navigate={~p"/admin/content"}>Back to content</.back>
