<.header>
  Content {@content.id}
  <:actions>
    <.link href={~p"/admin/content/#{@content}/edit"}>
      <.button>Edit content</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title">{@content.title}</:item>
  <:item title="Description">{@content.description}</:item>
</.list>

<.back navigate={~p"/admin/content"}>Back to content</.back>
