<%= turbo_frame_tag "autosplit_settings_tab_amount" do %>
  <span style="margin-left: 18px; font-size: 10px; font-weight: 600; letter-spacing: 0.32px; word-wrap: break-word; display: flex; align-items: center; height: 100%">TIP SPLIT - <%=@current_me_file.split_amount%>% <i class="bi bi-gear fs-6 ms-1"></i></span>
<% end %>