<div id="sponster_recruiter_slider_lg">
    <%= link_to referral_directs_path(sent_from: 'sponster', send_to: 'info', referral_code: @this_recipient.try(:referral_code).to_s), target: "_blank" do %>
        <img src="https://s3.amazonaws.com/youdata_badge_images/720x50/Sponster_sell_your_attention.png" />
        <img src="https://s3.amazonaws.com/youdata_badge_images/720x50/Sponster_life_sponsored.png" />
        <img src="https://s3.amazonaws.com/youdata_badge_images/720x50/Sponster_do_not_read.png" />
    <% end %>   
    
  <%# </a> %>
</div>

<script>
    function slideSwitch_lg() {
        var $active = $('#sponster_recruiter_slider_lg IMG.active');
        if ( $active.length == 0 ) $active = $('#sponster_recruiter_slider_lg IMG:last');
        var $next =  $active.next().length ? $active.next() : $('#sponster_recruiter_slider_lg IMG:first');
        $active.addClass('last-active');
        $next.css({opacity: 0.0}).addClass('active').animate({opacity: 1.0}, 1000, function() {
            $active.removeClass('active last-active');
        });
    }
    $(function() { setInterval( "slideSwitch_lg()", 6000 ); });
</script>