<.header>
  Edit Media Piece "{@media_piece.title}"
  <:subtitle>Edit media piece information.</:subtitle>
</.header>

<.media_piece_form
  changeset={@changeset}
  action={~p"/media_pieces/#{@media_piece}"}
  ad_categories={@ad_categories}
/>

<.back navigate={~p"/media_pieces"}>Back to media pieces</.back>
