<.simple_form :let={f} for={@changeset} action={@action} phx-change="validate">
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>

  <.input field={f[:title]} type="text" label="Name" required />
  <.input field={f[:description]} type="textarea" label="Description" />

  <:actions>
    <.button phx-disable-with="Saving...">Save Content Group</.button>
  </:actions>
</.simple_form>
