<Layouts.creators {assigns}>
  <.header>
    New Content Group
  </.header>

  <.content_group_form changeset={@changeset} action={~p"/creators/content_groups"} />

  <.back navigate={~p"/creators/content_groups"}>Back to content groups</.back>
</Layouts.creators>
